<!DOCTYPE html>
<html>
	<head>
		<title>About Jason</title>
	</head>

	<body>
		<h1>About Me</h1>

		<p>I'm a former musician now Software Engineer/Developer.  I love music from Classical to Pop, and am enjoy the beach and night life of Los Angeles.</p>

		<%= link_to 'Home', root_path %>

	</body>
</html>
