<!DOCTYPE html>
<html>
	<head>
		<title>Jason's Blog</title>
	</head>

	<body>
		<h1>Welcome to Jason's Blog</h1>

		<p>Hi there.  Welcome to my blog where I discuss anything from Software Engineering to Classical Music.  If you have any questions about the two, write a comment and I'll do my best to answer your questions.</p>

		<%= link_to 'About', about_path %>

	</body>
</html>